<!DOCTYPE html>
<html>

<head>
  <title>
    404 Embed Not Found
  </title>
  <meta content="404 Embed Not Found" property="og:title" />
  <meta content="/" property="og:url" />
  <meta content="/images/404.gif" property="og:image" />
  <meta content="#000000" name="theme-color" />
  <meta property="og:site_name" content="Embedly by Dom" />
  <meta name="twitter:card" content="summary_large_image" />
</head>

<body></body>

</html>