<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="./styles/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content="Shortly | MrWebMD" property="og:title" />
  <meta content="http://shortly.mrwebmd.com" property="og:url" />
  <meta content="http://shortly.mrwebmd.com/images/index.gif" property="og:image" />
  <meta content="#000000" name="theme-color" />
  <meta property="og:site_name" content="Shortly by Dom" />
  <meta name="twitter:card" content="summary_large_image" />
</head>

<body>
  <nav>
    <div class="slideController slideController--container">
      <div class="slideController__indicator slideController__indicator--active"></div>
      <div class="slideController__indicator"></div>
      <div class="slideController__indicator"></div>
    </div>
  </nav>
  <header>
    <h1 class="heading heading--large">Shortly</h1>
    <p class="heading heading--sub">By MrWebMD</p>
  </header>
  <main class="slideContainer">
    <form name="shortURLForm" class="form">
      <h2 class="heading typer heading--light" id="main"
        data-words="Create a short URL, Share links easily on the web, No more snake urls, github.com/MrWebMD"
        data-delay="100" data-deleteDelay="2000">Create a short URL</h2>

      <div class="form__field">
        <label for="redirect" class="form__label">Redirect URL</label>
        <input placeholder="Redirect URL" type="https://www.youtube.com" name="redirect" class="form__input" />
      </div>
      <div>
        <button class="button button--blue">Create</button>
      </div>
    </form>
    <h2 class="heading heading--light embedLink"></h2>
  </main>
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
  <script src="./js/script.js"></script>
  <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
</body>

</html>